<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #bb1e10;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 15px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .card{
    -webkit-box-shadow: 0px 10px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px -4px rgba(0,0,0,0.75);
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #bb1e10;">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        id="MDB-logo"
        src="../assets/Safer-Fire.png"
        alt="Safer-Fire Logo"
        draggable="false"
        height="26"
    /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item" >
          <a class="nav-link mx-2" href="#!" style="color: #e6e6e6;"><i class="fas fa-home pe-2"></i>Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link mx-2" href="#!" style="color: #e6e6e6;"><i class="fas fa-sign-in-alt pe-2"></i>Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<div style="display: flex; justify-content: end; width: auto; margin: 0; padding: 0;">
  <table style="width: 100%; background-color: #bb1e10;">
    <tr>
      <td style="width: 50%;">
        <p style="font-size: 33px; text-align: center;"><span style="color: #e6e6e6;"><b>Safer Fire - 2.0<br>Entwickelt um Feuerwehren zu unterstützen</b></span></p>
      </td>
      <td style="width: 50%;">
        <img src="../assets/19826188_6112045.png" style="width: 75%;"/>
      </td>
    </tr>
  </table>
</div> 
<div class="content">
  <h1 >Features</h1>
</div>
<div class="content" style="display: flex; flex-direction: row; ">
  <div class="card">
    <img src="../assets/dashboard.png" style="width: 40%; padding: 5%; margin: auto;"/>
    <div class="card-body">
      <h5 class="card-title">Dashboard</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="content"></div>
  <div class="card">
    <img src="../assets/respirator.png" style="width: 40%; padding: 5%; margin: auto;"/>
    <div class="card-body">
      <h5 class="card-title">Atemschutzüberwachung</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="content"></div>
  <div class="card">
    <img src="../assets/hazardous.png" style="width: 40%; padding: 5%; margin: auto;"/>
    <div class="card-body">
      <h5 class="card-title">Gefahrgut - Datenbank</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
