<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097267146537-8lehek5te8aifap283np4obbjpmts9vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097267146537-8lehek5te8aifap283np4obbjpmts9vs</string>
	<key>API_KEY</key>
	<string>AIzaSyBSXeULfrC1-Rn4uPiEp45JfJiqOgW5UnA</string>
	<key>GCM_SENDER_ID</key>
	<string>1097267146537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saferfire</string>
	<key>PROJECT_ID</key>
	<string>saferfire-9e83f</string>
	<key>STORAGE_BUCKET</key>
	<string>saferfire-9e83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097267146537:ios:078ff61a1f51357b495138</string>
</dict>
</plist>